<head>
  <style>
    body {
      background: #f1f1f1;
    }
    .container {
      max-width: 480px;
      height: 80px;
      background: white;
      border: 1px solid #ccc;
      box-sizing: border-box;
      padding: 5px 15px 5px 15px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #888;
    }
    h3 {
      font-family: sans serif;
      color: #777;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3>Você é menor de idade e possui {{ age }} anos</h3>
  </div>
</body>
